/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: black 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #007bff;
    margin: 0 0 0.5em 0;
}

#staticTopSection {
    display: flex;
    background-color: #f0f0f0;
    padding: 20px;
}

#staticTopSectionLeft,
#staticTopSectionRight {
    padding: 0px 1em;
    box-sizing: border-box;
}

#staticTopSectionLeft {
    border-right: 2px solid black;
    width: 75%;
}
#staticTopSectionRight {
    width: 25%;
}

form {
    margin-bottom: 20px;
}

#resultQuery,
#queryResult {
    white-space: pre-wrap;
    font-size: 16px;
}

#filters {
    overflow-y: auto;
    border-top: 2px solid black; /* Add a border between top section and filters */
    padding-top: 20px; /* Add some space between top section and filters */
}

.filtersRow {
    display: flex;
    margin-bottom: 0.5em;
    align-items: center;
}

.allikas {
    font-size: 12px;
    color: #666;
    display: inline;
    margin-left: 1em;
}